.body{
    font-family: 'Sans-Serif', 'Roboto';
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
    letter-spacing: 0.03em;    
    color: #000000;
    text-transform: none;
    text-decoration-line: none;
}
.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color: #2196F3;
}
.list{
    list-style: none;
}
.link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-transform: none;
    text-decoration-line: none;
}
.namber{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration-line: none;
}
.main{
    background: #2F303A;
}
.main_text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main_button{
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.section_one_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.section_one_p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.41;
    letter-spacing: 0.03em;
    color: #757575;
}
.section_text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.box{
    background: #FFFFFF;    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.section_three_text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.section_three_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #757575;
}
.footer{
    background: #2F303A;
}
.footer_logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-transform: none;
    text-decoration-line: none;
}
.footer_p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer_namber{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;    
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/*----------------portfolio-----------------*/
.portfolio_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.portfolio_namber {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.portfolio_button{
    background: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #212121;
}
.portfolio_section_one_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;     
    letter-spacing: 0.06em;    
    color: #212121;
}
